build/ouzel.xcodeproj/xcuserdata
build/ouzel.xcodeproj/project.xcworkspace
build/ouzel.sdf
build/ouzel.VC.opendb
build/x64/
build/ARM/
build/ipch/
*.suo
*.opendb
*.sdf
*.user
*.cso
build/D3D11Shaders.inl
build/bin2h.exe
